/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 0rem;
  padding-bottom: 3rem;
  color: #5a5a5a;;
}
#image{

width: 50px;
height: 50px;
background-position: center;
}
#box1
{
  width: 200px;
  height: 200px;
  
  clip-path:ellipse(50% 50%);
  background-image: url(../css_perso/image/borabora.jpg);
  background-size: 200px 200px ;

}
#box2
{
  width: 200px;
  height: 200px;
  
  clip-path:ellipse(50% 50%);
  background-image: url(../css_perso/image/mooreaC.jpg);
  background-size: 200px 200px ;

}
#box3
{
  width: 200px;
  height: 200px;
  
  clip-path:ellipse(50% 50%);
  background-image: url(../css_perso/image/maupiti.jpg);
  background-size: 200px 200px ;

}
#box4
{
  width: 500px;
  height: 500px;
  
  
  background-image: url(../css_perso/image/plongée.jpg);
  background-size: 500px 500px ;
}
#box5
{
  width: 500px;
  height: 500px;
  
  
  background-image: url(../css_perso/image/foret.png);
  background-size: 500px 500px ;
}
#box6
{
  width: 500px;
  height: 500px;
  
  
  background-image: url(../css_perso/image/tiki.jpg);
  background-size: 500px 500px ;
}
#box7
{
  width: 1100px;
  height: 500px;
  /*clip-path:ellipse(50% 50%);*/
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;

  margin-bottom: 3px;
  background-image: url(../css_perso/image/voyage.jpg);
  background-size: 1100px 500px ;

}


#box1_t
{
  width: 200px;
  height: 200px;
  
  clip-path:ellipse(50% 50%);
  background-image: url(../css_perso/image/zanzi.jpg);
  background-size: 200px 200px ;

}
#box2_t
{
  width: 200px;
  height: 200px;
  
  clip-path:ellipse(50% 50%);
  background-image: url(../css_perso/image/dodoma.jpg);
  background-size: 200px 200px ;

}
#box3_t
{
  width: 200px;
  height: 200px;
  
  clip-path:ellipse(50% 50%);
  background-image: url(../css_perso/image/ngorongo.jpg);
  background-size: 200px 200px ;

}
#box4_t
{
  width: 500px;
  height: 500px;
  
  
  background-image: url(../css_perso/image/cratère.jpg);
  background-size: 500px 500px ;
}
#box5_t
{
  width: 500px;
  height: 500px;
  
  
  background-image: url(../css_perso/image/safari.jpg);
  background-size: 500px 500px ;
}
#box6_t
{
  width: 500px;
  height: 500px;
  
  
  background-image: url(../css_perso/image/lac.jpg);
  background-size: 500px 500px ;
}
#box7_t
{
  width: 1100px;
  height: 500px;
  /*clip-path:ellipse(50% 50%);*/
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;

  margin-bottom: 3px;
  background-image: url(../css_perso/image/voyage.jpg);
  background-size: 1100px 500px ;

}


#box1_i
{
  width: 200px;
  height: 200px;
  
  clip-path:ellipse(50% 50%);
  background-image: url(../css_perso/image/bali.jpg);
  background-size: 200px 200px ;

}
#box2_i
{
  width: 200px;
  height: 200px;
  
  clip-path:ellipse(50% 50%);
  background-image: url(../css_perso/image/jakarta.jpg);
  background-size: 200px 200px ;

}
#box3_i
{
  width: 200px;
  height: 200px;
  
  clip-path:ellipse(50% 50%);
  background-image: url(../css_perso/image/ubud.jpg);
  background-size: 200px 200px ;

}
#box4_i
{
  width: 500px;
  height: 500px;
  
  
  background-image: url(../css_perso/image/temple.jpg);
  background-size: 500px 500px ;
}
#box5_i
{
  width: 500px;
  height: 500px;
  
  
  background-image: url(../css_perso/image/plages.jpg);
  background-size: 500px 500px ;
}
#box6_i
{
  width: 500px;
  height: 500px;
  
  
  background-image: url(../css_perso/image/gastronomie.jpg);
  background-size: 500px 500px ;
}
#box7_i
{
  width: 1100px;
  height: 500px;
  /*clip-path:ellipse(50% 50%);*/
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;

  margin-bottom: 3px;
  background-image: url(../css_perso/image/voyage.jpg);
  background-size: 1100px 500px ;

}
#color
{
  width: 1500px;
  height: 500px;
  background-color: silver;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  

}
#marge{
  margin-top:0px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
